# DNS hint configuration
env=lab-segment
hint1 = b64:VGhlIHZpc2libGUgY2x1ZSBzdWdnZXN0cyB0ZXJtaW5hbC4=
hint5  =  b64:VGhpcyBkZWNvZGVkIG1lc3NhZ2UgZW5kcyBhdCByZXNvbHZlci4=
 hint4=rot13+b64:ITuyVTMcozSfVREBHlOwoUIyVUOinJ50plO0olOmLJWfMF4= 
 hint6 = rot13+b64:ITucplOlo3I0MFO0MKWgnJ5uqTImVT5yLKVtLKWwnTy2MF4= 
hint2=rot13+b64:ITucplOlo3I0MFO0MKWgnJ5uqTImVT5yLKVtLKWwnTy2MF4=
 hint3  =  b64:VGhpcyBkZWNvZGVkIG1lc3NhZ2UgZW5kcyBhdCByZXNvbHZlci4= 
token_tag=b64:NA==
note=this_is_not_a_hint
# end
